<div class="col-md-12">
  <div class="whiteback">
		<div class="whiteblock">
			<div class="container">
				<div class="row">
					<div class="col-md-5">
						<%= image_tag'about.jpg', :size => '450x650' %>
					</div>
					<div class="col-md-7">
						<div class="about">
							<h1>About<br><br></h1>
							<h2>
								Nailsはセルフネイルについての写真投稿サイトです<br><br>
								お気に入りのネイルを共有しましょう<br><br>
								アカウントをフォローしておすすめのネイルやアドバイスを入手しましょう<br><br>
								ネイルを通して多くの人と繋がりましょう
							</h2>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>