/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap-sprockets";  /*ここを追加*/
 @import "bootstrap";

 *{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.clearfix::after {
	content: "";
	display: block;
	clear: both;
}

header {
  color: rgb(105, 105, 109);
  background-color: white;
  .nav-list{
					a{
		margin: 0px 10px 0 5px;
		color: rgb(105, 105, 109);
					}
  }
}
header span {
 	font-size: 30px;
 	padding-top: 30px;
}

.nails{
	color: rgb(105, 105, 109);
	margin: 5px 10px 0 5px;
}

li{
  display: inline;
}

.wrapper{
	min-height: 100vh;
    position: relative;/*←相対位置*/
		padding-bottom: 60px;/*←footerの高さ*/
		padding-top: 84px;
    box-sizing: border-box;/*←全て含めてmin-height:100vhに*/
}

body{
	background-color: rgb(219, 223, 223);
}

.whiteback{
	background-color: white;
}

.whiteblock{
	margin-top: 100px;
	margin-bottom: 100px;
	padding-top: 30px;
	padding-bottom: 30px;
	// background-color: yellow;
}

.about{
	color: rgb(105, 105, 109);
}

footer{
	width: 100%;
	position: absolute;/*←絶対位置*/
	bottom: 0; /*下に固定*/
	background-color: white;
	color: rgb(105, 105, 109);
}

.ranking{
	color: rgb(105, 105, 109);
}

.icon-bar{
	background-color: rgb(105, 105, 109);
	padding-top: 5px;
}

.navbar-toggle{
	height: 70px;
}